.header{
    background-color: #e1cfd0;
}

h1{
    font-size: 64px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h3{
    color:gold
    font-size: small;
    font-family:'Arial Narrow Bold';
}

